<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page">

{% include navigation.html %}

<div id="main" role="main">
   <article class="entry">
     {% if page.image.feature %}<img src="{{ site.url }}/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}" {% if site.logo == null %}style="margin-top:0;"{% endif %}>{% if page.image.credit %}<p class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></p>{% endif %}{% endif %}
     <div class="entry-wrapper">
       <div class="entry-content">
           <h1 style="text-align:center;margin-bottom:2em;"><a href="/reading">#Today I Read#</a></h1>
           <h2 class="post-title" style="text-align:center;margin-bottom:2em;">{{ page.title }}</h2>
           <div style="border-top:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;margin-bottom:1em;padding-top:1em;padding-bottom:1em;">
             {% if page.author %}
             <div style="margin-left:1em;">
             <span style="display:block;font-size:90%;"><i class="fa fa-address-card" aria-hidden="true"></i>  <strong>Author:</strong> {{ page.author }}</span>
             </div>
             {% endif %}

             {% if page.summary %}
             <div style="margin-left:1em;">
             <span style="display:block;font-size:90%;"><i class="fa fa-star" aria-hidden="true"></i>  <strong>Summary:</strong> {{ page.summary }}</span>
             </div>
             {% endif %}


                 {% if page.categories != null %}
                 <div style="margin-left:1em;">
                 <span style="display:block;font-size:90%;"><i class="fa fa-folder" aria-hidden="true"></i> <strong>Categories:</strong> {% for category in page.categories %}
                    { {{ category }} }
                    {% endfor %}
                 </span>
                 </div>
                 {% endif %}

                 {% if page.tags != null %}
                 <div style="margin-left:1em;">
                 <span style="display:block;font-size:90%;"><i class="fa fa-hashtag" aria-hidden="true"></i> <strong>Tags:</strong> {% for tag in page.tags %}
                    #{{ tag }}
                    {% endfor %}
                 </span>
                 </div>
                 {% endif %}

             {% if page.ref %}
             <div style="margin-left:1em;"><span style="display:block;font-size:90%;"><i class="fa fa-paperclip" aria-hidden="true"></i> <strong>References:</strong></span>
                {% for reference in page.ref %}
                   {% if reference.link %}
                      <span style="display:block;font-size:90%;padding-left:1em;"> - <a href="{{ reference.link }}">{{ reference.title }}</a></span>
                      {% else %}
                      <span style="display:block;font-size:90%;padding-left:1em;"> - {{ reference.title }}</span>
                   {% endif %}
                {% endfor %}
             </div>
             {% endif %}


           </div>
           {{ content }}

           <nav class="pagination" role="navigation">
            {% if page.previous %}
              <a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">Previous</a>
            {% endif %}
            {% if page.next %}
              <a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}">Next</a>
            {% endif %}
          </nav><!-- /.pagination -->


        {% if site.owner.disqus-shortname and page.comments or site.comments %}
          <div id="disqus_thread"></div><!-- /#disqus_thread -->
          {% include disqus-comments.html %}
        {% endif %}
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
    <nav class="pagination" role="navigation">
      {% if page.previous %}
        <a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">Previous</a>
      {% endif %}
      {% if page.next %}
        <a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}">Next</a>
      {% endif %}
    </nav><!-- /.pagination -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo" class="entry-wrapper">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
